.logo {
    background-image: url(../img/logo-florigatto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.suculenta01 {
    background-image: url(../img/suculenta01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.orquidea01 {
    background-image: url(../img/orquidea01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.orquidea02 {
    background-image: url(../img/orquidea02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.plantas {
    background-image: url(../img/plantas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mapa {
    background-image: url(../img/mapa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.suculenta02 {
    background-image: url(../img/suculenta02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.suculenta03 {
    background-image: url(../img/suculenta03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.suculenta04 {
    background-image: url(../img/suculenta04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}